# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Database
*.db
*.sqlite
/prisma/migrations

# Editor folders
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
